header {
    justify-content: center;
}

.welcome_mes {
    margin-left: 23px;
}

.logo {
    margin-left: 23px;
}

.links {
    margin: auto;
    width: 35%;
    border: 3px solid white;
    padding: 30px;
    text-align: center;

}

.login_mes{
    font-size: 40px;
    text-decoration: underline;
}