* {
    box-sizing: border-box;
    background-color: darkblue;
    padding:0;
    margin:0;
}

li, a, button, h1 {
    font-family: "Berlin Sans FB", serif;
    font-size: 20px;
    color: antiquewhite;
    text-decoration: none;
}

h1 {
    font-size: 40px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 1%;
    border-bottom: 1px solid white;
}

.home_mes {
    color: deepskyblue;
}

.logo{
    height: 150px;
    width: 150px;
    display: inline-block;
    margin-left: 40px;
}

.home_icon, .prof_icon {
    height: 32px;
    width: 32px;
    display: inline-block;
}

.prof_mes {
    color: white;
    margin-right: 40px;
}
.links {
    list-style: none;

}
.hello_mes {
    color: red;
}
.links li {
    display: inline-block;
    padding: 0 5px;
}

.links li a:hover {
    color: yellow;
}

button {
    padding: 2px 6px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
        background-color: rgba(0,136,169,0.8);
}

.resize_box {

    height: 25px;
    width: 200px;
    font-size: 15px;
    background-color: aliceblue;
}

.welcome_mes {
    color: white;
}
