@import url("login.css");

#container{
    padding: 10px;
    width: 800px;
    margin: 20px auto auto auto;
    justify-content: center;
    text-align: center;
}

#container #left {
    float: left;
    margin: 50px 30px auto 110px;
}

#container #middle{
    width: 100px;
    float: left;
    margin-top: 50px;
}

#container #right {
    width: 200px;
    float: left;
    margin-top: 50px;
    margin-left: 20px;
}


.reg_message {
    text-decoration: underline;
}
li {
    list-style: none;
}

ul li {
    margin-bottom:40px;
}

input {
    background-color: aliceblue;
}

