<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static  'css/main.css' %}">
    {% block  styles %}
        <header>
            <img class="logo" src="{% static 'img/CCSU_Logo.png' %}" alt="CCSU_Logo">
            <h1>Welcome to CCSU Campus Ride Portal</h1>
            <nav class="navbar">
                <div class="links">
                    <ul>
                        <li><a href="#" class="home_mes"> <img class="home_icon" src="{% static 'img/home_icon.png' %}" alt="Home_icon"> &nbsp Home</a></li>
                    </ul>
                    <div>
                        <form method=POST>
                            <ul>
                                <li><label for="bluenet_acct">BlueNet Account : </label><input type="text" class="resize_box" value='' name="username" id="bluenet_acct"></li>
                                <li><label for="password">Password : </label><input type="password" class="resize_box" name="password" id="password"></li>
                                <li><a class="cta" href="#"><button>Sign in</button></a></li>
                            </ul>
                        </form>
                    </div>
                    <ul>
                        <li><h4 class="register_mes">Sign in to give and get rides to local events now!</h4></li>
                    </ul>
                </div>
            </nav>

        </header>
    {% endblock %}
<body>

    {% block content %}
    {% endblock %}

</body>
</html>