{% extends 'login.html' %}
{% load static %}

{% block title %} Register {% endblock %}

{% block styles %} <link rel="stylesheet" href="{% static 'css/register.css' %}"> {% endblock %}

{% block content %}

    <div id="container">
        <h1 class="reg_message">Registration</h1>
        <div id="left">
            <ul>
                <li>First Name:</li>
                <li>Last Name:</li>
                <li>Username:</li>
                <li>Password:</li>
            </ul>
        </div>
        <div id="right">
            <form action="{% url 'register' %}" method="POST"> {% csrf_token %}
                <ul>
                    <li><label><input type="text" name="firstname" placeholder="First Name"></label></li>
                    <li><label><input type="text" name="lastname" placeholder="Last Name"></label></li>
                    <li><label><input type="text" name="username" placeholder="Username"></label></li>
                    <li><label><input type="password" name="password" placeholder="Password"></label></li>
                    <li><label><input type="password" name="password2" placeholder="Re-Type Password"></label></li>
                    <li>
                        <button>Register</button> &nbsp
                        <a class="back_button" href="{% url 'login' %}"><button type="button">Back</button></a>
                    </li>
                </ul>
            </form>
        </div>
    </div>

{% endblock %}