{% extends 'base.html' %}
{% load static %}

{% block title %} Events {% endblock %}

{% block styles %} <link rel="stylesheet" href="{% static  'css/events.css' %}"> {% endblock %}

{% block blockheader %}
       <div class="links">
           <ul>
                <li class = "hello_mes">Hello, {{ user.first_name }} </li>
            </ul>
            <ul>
                <li><a href="{% url 'index' %}" class="home_mes"> <img class="home_icon" src="{% static 'img/home_icon.png' %}" alt="Home_icon"> &nbsp Home</a></li>
                <li><a href="{% url 'profile' %}" class="prof_mes"> <img class="prof_icon" src="{% static 'img/prof_icon.png' %}" alt="Prof_icon"> &nbsp View Profile</a></li>
                <li><a href="{% url 'logout' %}" class="logout_mes"> <img class="logout_icon" src="{% static 'img/logout.png' %}" alt="Logout_icon">&nbsp Log Out</a></li>
            </ul>
       </div>
{% endblock %}

{% block content %}
    <div class="eventhead">
        <h1><u>SORRY YOU ARE ALREADY SIGNED UP TO DRIVE FOR THAT EVENT.</u></h1>
    </div>
{% endblock %}