{% extends 'base.html' %}
{% load static %}

{% block title %} Events {% endblock %}

{% block styles %} <link rel="stylesheet" href="{% static  'css/events.css' %}"> {% endblock %}

{% block blockheader %}
       <div class="links">
           <ul>
                <li class = "hello_mes">Hello, {{ user.first_name }} </li>
            </ul>
            <ul>
                <li><a href="{% url 'index' %}" class="home_mes"> <img class="home_icon" src="{% static 'img/home_icon.png' %}" alt="Home_icon"> &nbsp Home</a></li>
                <li><a href="{% url 'profile' %}" class="prof_mes"> <img class="prof_icon" src="{% static 'img/prof_icon.png' %}" alt="Prof_icon"> &nbsp View Profile</a></li>
                <li><a href="{% url 'logout' %}" class="logout_mes"> <img class="logout_icon" src="{% static 'img/logout.png' %}" alt="Logout_icon">&nbsp Log Out</a></li>
            </ul>
       </div>
{% endblock %}

{% block content %}
    <div class="eventhead">
        <h1><u>Events</u></h1>
    </div>


    {% for event in events %}
        <div id="interface">
            <form class="form_ajax" action="{% url 'signup' %}" method="POST" id="signform">
                {% csrf_token %}
                <input type="text" name="eventname" value={{ event.id }} hidden>
                <input type="text" name="driverid" value={{ user.id }} hidden>
                <h2>{{ event.id }} | {{ event.name }}</h2>
                <p>{{ event.description }}</p>
                <br>
                <input type="radio" name="type" value="driver" id="driver">  <label id="id2" for="driver">Driver</label>
                <input type="radio" name="type" value="rider" checked="checked" id="rider"> <label id="id1" for="rider">Rider</label>
                <br>
                <div id="capdiv" class="hide">
                    <br>
                    Capacity: <input type="number" name="captext" id="capbox" min="0" max="10">
                </div>
                <br>
                <input type="submit" value="sign up" class="subbtn">
            </form>
        </div>
        <br><hr><br>
    {% endfor %}

{% endblock %}